.DS_Store
site/
*.sublime-project
*.sublime-workspace
*.log
.serverless
v8-compile-cache-*
jest/*
coverage
testProjects/*/package-lock.json
testProjects/*/yarn.lock
.serverlessUnzipped
node_modules
.vscode/
.eslintcache
dist
.idea
build/
.env*
.cache*
.serverless
.serverless_nextjs
.serverless_plugins
samples/
env.js
tmp
package-lock.json
yarn.lock
test
*.aliases
*.js
*.swp
